/root/autodl-tmp/Undergraduate-Graduation-Design-Repository/MST-plus-plus/dataset/Test_RGB
/root/autodl-tmp/Undergraduate-Graduation-Design-Repository/MST-plus-plus/dataset/Train_Spec
/root/autodl-tmp/Undergraduate-Graduation-Design-Repository/MST-plus-plus/dataset/Train_RGB
/root/autodl-tmp/Undergraduate-Graduation-Design-Repository/MST-plus-plus/dataset/Valid_RGB
/root/autodl-tmp/Undergraduate-Graduation-Design-Repository/MST-plus-plus/dataset/Valid_Spec
